@font-face {
    font-family: "Nunito";
    src: url("assets/fonts/Nunito-Italic-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Nunito";
    src: url("assets/fonts/Nunito-VariableFont_wght.ttf");
    font-weight: 300;
  }
  body {
    font-family: "Nunito", sans-serif;
    * {
        box-sizing: border-box;
               }
    border: 1px solid red;
    min-height: 100vh;
    margin: 0; padding: 0;  
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  }
  .nav-list {
    list-style: none; /* убрали стандартные маркеры */
        
  }
  .nav-link {
    padding: 0 20px;     line-height: 50px;
    text-decoration: none; /* убрали подчеркивание ссылок */
    color: darkgreen; /* цвет текста ссылки */  }
html {
  scroll-behavior: smooth; /* для плавной прокрутки страницы после клика на ссылку */
  
}
