@font-face {
    font-family: "Nunito";
    src: url("assets/fonts/Nunito-Italic-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Nunito";
    src: url("assets/fonts/Nunito-VariableFont_wght.ttf");
    font-weight: 300;
  }
  body {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;

    * {
        box-sizing: border-box;
               }
    border: 1px solid red;
    min-height: 100vh;
    margin: 0; padding: 0;  
    display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none; /* убрали стандартные маркеры */
    }
  .nav-link {
    background-color: gray; /* Светло-голубой фон */
    color: black; /* Цвет текста */
    padding: 5px 5px; /* Внутренние отступы */
    text-decoration: none; /* Убираем подчеркивание текста */
    border-radius: 4px; /* Скругленные углы */
    transition: background-color 0.3s; /* Плавный переход */
  }
  
  .nav-link:hover { /* свойства элемента при наведении указываем при помощи псевдокласса */
    background-color: palevioletred; /* фон при наведении */
    color: white; /* Цвет текста при наведении */
    text-decoration: underline;
}

  html 
{
  scroll-behavior: smooth; /* для плавной прокрутки страницы после клика на ссылку */
  
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
.section {
  width: 50%;
}

.section-title{
font-size: 24px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: purple;
}

@media (max-width: 768px) { /*указываем, что при уменьшении ширины экрана до 768px, секция будет занимать всю ширину*/
  .section {
    width: 100%;
  }
}
.link {
  text-decoration: none;
  color: palevioletred;
  transition: color 0.5s;
}

.link:hover {
  color: purple;
}
.rss {
  width: 121px;
  height: 45px;
  background-image: url("./assets/img/rss.png"); /*Свойством background-image добавляются изображения, предназначенные для оформления страницы.*/
  background-size: contain;
  background-repeat: no-repeat;
}

.section-item {
  position: relative;
  padding-left: 20px;
  list-style: none; /* убрали стандартные маркеры */
}
.section-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 8px;
  height: 8px;
  border: 3px solid #4d2323;
  border-radius: 50%;
}

ul {
  list-style-type: none; /* Убираем стандартный маркер */
}
li {
  position: relative;
  padding-left: 30px; /* Добавляем отступ слева для иконок */
  margin-bottom: 10px; /* Разделяем элементы списка */
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px; /* Ширина иконки */
  height: 20px; /* Высота иконки */
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-1::before {
  background-image: url('./assets/svg/icon 1.svg'); 
}

.icon-2::before {
  background-image: url('./assets/svg/icon 2.svg'); 
}

.icon-3::before {
  background-image: url('./assets/svg/icon 3.svg'); 
}
.icon-4::before {
  background-image: url('./assets/svg/icon 4.svg'); 
}